/* NOTE: lime green borders are just for seeing containers easily */ 

*   {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Khand', sans-serif;
    scroll-behavior: smooth;
  }

  .logo { /* centers the logo on page */
    display: flex;
    justify-content: center;
  }

  .fa { /* styles socials icons */
    margin: 15px;
    width: 50px;
    text-decoration: none;
    color: black;
    font-size: 50px;
    border-radius: 50%;
    /*display: inline-block;*/
  } 

   h1 { 
    /*border: 2px solid greenyellow;*/
    display: flex;
    justify-content: center;
    font-size: 50px;
  }

  nav, header {
    background:#C0B9DD/*#ebe8fc*/;
    font-weight: bold;
    box-shadow: 3px 3px 3px #f1f1f1;
  }

  nav ul, li {
    /*border: 2px solid pink;*/
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style-type: none;
    font-size: 20px;
  }

  li a {
    text-decoration: none;
    color: black;
  }
  
  li:hover {
    background: #8A9A5B;
    transition: .5s;
  }

  /*.about-container {
  display: inline-block;
}*/
.hero {
    /*border: 2px solid pink;*/
    display: flex;
    justify-content: space-evenly;
    background:#F5F5F5;
  }
  
  .about-container {
    font-size: 3rem;
    margin: 20px;
  }


  .about-container p {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 15px;
  }

  .events-container  {
    background:#8A9A5B;
  
  }
  
  .events-container h2 {
    font-size: 4rem;
    margin: 20px;
  }

  .events-container p {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 15px;
    margin: 20px;
    
  }
  
  .shop-container {
    margin: 20px;
  }
  .shop-container h2 {
font-size: 4rem;
margin: 20px;
  }


  .img-box {
    margin: 20px;
    /*border: 5px solid #f1f1f1;*/
    box-shadow: 3px 3px 3px #f1f1f1;
  }
  
  .details-text p {
    font-size: 15px;
  }
  
  .events-img-box {
    margin: 20px;
    box-shadow: 3px 3px 3px #f1f1f1;
    background:#8A9A5B;
  }
 
    /*background: #A679CA;*/
    
  
  .img-box-left {
    margin: 20px;
    /*border: 5px solid #f1f1f1;*/
    box-shadow: 3px 3px 3px #f1f1f1;
  }
  

  
  #button {
    background: #F5F5F5;
  }



.card {
  display: inline-block;
  font-family: 'Cormorant Garamond';
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  max-width:300px;
  min-height: 400px;
  margin: 10px;
  text-align: center;
}

a .buy-btn {
  background: black;
  text-decoration: none;
  color: white;
  padding: 10px;
}

#contact {
  background: #C0B9DD;
}
/*a:hover {
  background: lightblue;
  transform: .5s
}*/


  /*.team h2 {
    display: flex;
     justify-content: center;
     background:#ebe8fc;
   }
   
   /*.contact {
   }*/
   
   /*.card-container {
     display: flex;
     justify-content: space-evenly;
     min-height: 450px;
     background: #F1F1F1;
   }
   
   .card {
     text-align: center;
     background:#C0B9DD;
     margin-top: 10px;
     /*box-shadow: 3px 8px #f1f1f1;*/
     
   
   
   /*.col-1, .col-2, .col-3 {
   }*/
   
   footer {
    background:#C0B9DD;
   }
   /* parent container */
   .col-container {
      display: grid;
     margin-top: 10px;
     
     /* makes columns*/
      grid-auto-flow: column;
     
     /* Makes columns equal width*/
     grid-auto-columns: 1fr;
     
   }
   
   
   footer h3, .col-1, .col-2, .col-3 {
     text-align: center;
   }





   /* IMG CAROUSEL STUFF */
/*.container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: Center;
  
}

.container img {
  width: 100%;
  z-index: -2;
}

button {
  height: 10%;
  border: none;
  border-radius: 5px;
  outline: none;
  background: grey;
  opacity:60%;
  padding: 1em;
  display: flex;
  
}

button .arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transition: transform 0.3 ease-out;
  outline: none;
  
  
}

#right-btn {
  margin: auto 0 auto -2em;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}


#left-btn {
  z-index: 0;
  margin: auto -2em auto 0;
}

#left-btn .arrow {
  transform: rotate(135deg);
  
}

/* END OF IMG CAROUSEL STUFF */

   
   /*.container img {
     position: relative;
     background-image:url('https://st2.depositphotos.com/45874340/45902/i/450/depositphotos_459028816-stock-photo-close-image-role-playing-dice.jpg');
    background-repeat: no-repeat;
     opacity: 60%;
        
   }*/
   